@use '../1-base/base';
@use 'layouts-mixins';

.footer {
  background-color: base.$bg-color;
  padding: 3rem 0;

  @include base.mobile {
    padding: 3rem;
  }

  a,
  p {
    color: base.$gray-text-color;
  }

  li,
  p {
    margin-bottom: 1rem;

    a {
      &:hover {
        color: base.$primary-color;
      }
    }
  }

  i {
    margin-right: 0.3rem;
  }

  h3 {
    color: base.$light-color;
    text-transform: uppercase;
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
  }

  &-top {
    @include layouts-mixins.center-content;
    padding-bottom: 3rem;

    @include base.mobile {
      flex-direction: column;
    }

    &-about,
    &-categories,
    &-information,
    &-menu {
      max-width: 25%;

      @include base.mobile {
        max-width: 100%;
        margin-bottom: 1rem;
      }
    }
  }

  &-bottom {
    @include layouts-mixins.center-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-payments {
      margin-bottom: 2rem;

      i {
        color: base.$dark-color;
        cursor: pointer;
        font-size: 3rem;
        margin: 5px;
        transition: 0.4s;

        &:hover {
          color: base.$primary-color;
        }
      }
    }
  }
}
