@use 'sass:color';
@use '../1-base/base';
@use 'layouts-mixins';
@use '../1-base/variables';

.header {
  background-color: base.$bg-color;

  &-top {
    background-color: base.$secondary-bg-color;
    color: base.$light-color;

    @include base.mobile {
      display: none;
    }

    &-container {
      @include layouts-mixins.center-content;
      padding: 0.8rem 0;

      @include layouts-mixins.top-menu;

      span {
        margin-right: 1rem;
      }

      i {
        margin-right: 0.3rem;
      }

      a {
        color: base.$light-color;
      }

      .header-user-top-menu {
        display: flex;
      }

      .user-menu {
        display: flex;
        align-items: center;
        gap: 0.4rem;

        .divider {
          color: base.$gray-text-color;
          margin: 0 0.4rem;
        }

        .user-link {
          color: base.$primary-color;
          font-weight: bold;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        .logout-link {
          background: none;
          border: none;
          color: base.$primary-color;
          font-weight: bold;
          cursor: pointer;
          padding: 0;
          font-size: 1rem;

          &:hover {
            text-decoration: underline;
            color: color.scale(base.$primary-color, $lightness: -10%);
          }
        }
      }
    }
  }
}

.main-header {
  &-container {
    @include layouts-mixins.center-content;
    padding: 1.3rem 0;

    @include base.mobile {
      flex-direction: column;
      align-items: center;
    }

    a,
    span,
    i {
      color: #fff;
    }

    #brand {
      font-weight: 900;
      font-size: 3rem;

      i {
        color: base.$primary-color;
        font-size: 2rem;
      }
    }

    #search-form {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45%;

      @include base.mobile {
        width: 100%;
        margin: 2rem 0;
      }

      input {
        height: 40px;
      }

      #search {
        @include layouts-mixins.rounded-input;
        width: 60%;
      }

      .search-dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: variables.$light-color;
        border: 1px solid #ddd;
        border-top: none;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-height: 300px;
        overflow-y: auto;
        z-index: 1000;

        .search-item {
          display: flex;
          align-items: center;
          padding: 0.8rem 1rem;
          border-bottom: 1px solid #eee;
          cursor: pointer;

          &:last-child {
            border-bottom: none;
          }

          &:hover {
            background-color: #f0f0f0;
          }

          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            margin-right: 1rem;
            border-radius: 4px;
          }

          span {
            color: variables.$link-color;
            font-size: 0.9rem;
          }
        }

        .search-loading,
        .search-no-results {
          padding: 1rem;
          text-align: center;
          color: variables.$gray-text-color;
        }
      }
    }

    .header-actions-menu {
      display: flex;
      align-items: center;

      .wishlist-container,
      .header-cart-container {
        @include layouts-mixins.header-icon;

        @include base.mobile {
          margin: 1rem;
        }
      }
    }
  }
}

.header-bottom {
  background-color: base.$light-color;
  border-bottom: 2px solid base.$section-bg-color;
  border-top: 3px solid base.$primary-color;

  ul {
    @include layouts-mixins.center-content;
    justify-content: left;
    padding: 1rem 0;

    @include base.mobile {
      display: none;
    }

    li {
      margin-right: 1.3rem;
    }

    a {
      color: base.$link-color;
      border-bottom: 2px solid transparent;

      &:hover {
        color: base.$primary-color;
        border-color: base.$primary-color;
      }
    }
  }
}
