@use '../1-base/base';
@use 'layouts-mixins';

.newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-top: 2px solid base.$section-bg-color;

  @include base.mobile {
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    color: base.$dark-color;
    margin-bottom: 2rem;

    span {
      font-size: 2rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  form {
    display: flex;
    margin-bottom: 3rem;

    @include base.mobile {
      width: 100%;
    }

    input[type='email'] {
      border: 1px solid base.$section-bg-color;
      @include layouts-mixins.rounded-input;

      @include base.mobile {
        width: 100%;
      }
    }
  }

  .social-media {
    i {
      padding: 12px;
      margin: 5px;
      border: 1px solid base.$section-bg-color;
      cursor: pointer;
      color: base.$dark-color;
      transition: 0.4s;

      &:hover {
        color: base.$primary-color;
        background-color: base.$section-bg-color;
      }
    }
  }
}
