@use '../1-base/variables' as v;
@use 'sass:color';

.reset-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  .reset-password-container {
    background-color: v.$dark-color;
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;

    h2 {
      font-size: 2rem;
      color: v.$primary-color;
      margin-bottom: 1.8rem;
    }

    .form-group {
      margin-bottom: 1.5rem;
      text-align: left;

      label {
        display: block;
        margin-bottom: 0.5rem;
        color: v.$dark-color;
        font-weight: 500;
      }

      input[type='password'] {
        width: 100%;
        outline: none;
        font-size: 1rem;
        background-color: transparent;
        border-bottom: 1px solid #d10024;
        margin-bottom: 2rem;
        color: #fff;
        padding: 1rem 0 0 0;
      }
    }

    .btn-primary {
      width: 100%;
      background-color: #d10024;
      font-weight: bold;
      color: #fff;
      border: none;
      border-radius: 20px;
      padding: 0.75rem;

      &:hover {
        background-color: color.scale(v.$primary-color, $lightness: -10%);
      }

      &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
      }
    }
  }
}
