@use 'favorite-card-compact';
@use 'product-card-compact';
@use 'calculate-shipping';
@use 'product-page';
@use 'header';
@use 'banner-section';
@use 'products-section';
@use 'deal-section';
@use 'newsletter-section';
@use 'footer';
@use 'forms';